In [7]:
import requests
import json

url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "API KEYS'
    }

response = requests.get(url, headers=headers)

{"page":1,"results":[{"adult":false,"backdrop_path":"/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.","popularity":191.914,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","release_date":"1994-09-23","title":"The Shawshank Redemption","video":false,"vote_average":8.707,"vote_count":27103},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","popularity":173.917,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The Godfather","video":false,"vote_average":8.69,"vote_count":20584},{"adult":false,"backdrop_path":"/kGzFbGhp99zva6oZODW5atUtnqi.jpg","genre_ids":[18,80],"id":240,"original_language":"en","original_title":"The Godfather Part II","overview":"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.","popularity":83.433,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","release_date":"1974-12-20","title":"The Godfather Part II","video":false,"vote_average":8.6,"vote_count":12416},{"adult":false,"backdrop_path":"/zb6fM1CX41D9rF9hdgclu0peUmy.jpg","genre_ids":[18,36,10752],"id":424,"original_language":"en","original_title":"Schindler's List","overview":"The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.","popularity":93.813,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg","release_date":"1993-12-15","title":"Schindler's List","video":false,"vote_average":8.565,"vote_count":15827},{"adult":false,"backdrop_path":"/qqHQsStV6exghCM7zbObuYBiYxw.jpg","genre_ids":[18],"id":389,"original_language":"en","original_title":"12 Angry Men","overview":"The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.","popularity":79.807,"poster_path":"/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg","release_date":"1957-04-10","title":"12 Angry Men","video":false,"vote_average":8.546,"vote_count":8629},{"adult":false,"backdrop_path":"/m4TUa2ciEWSlk37rOsjiSIvZDXE.jpg","genre_ids":[16,10751,14],"id":129,"original_language":"ja","original_title":"千と千尋の神隠し","overview":"A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.","popularity":128.421,"poster_path":"/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg","release_date":"2001-07-20","title":"Spirited Away","video":false,"vote_average":8.538,"vote_count":16488},{"adult":false,"backdrop_path":"/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg","genre_ids":[35,18,10749],"id":19404,"original_language":"hi","original_title":"दिलवाले दुल्हनिया ले जायेंगे","overview":"Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.","popularity":39.265,"poster_path":"/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg","release_date":"1995-10-20","title":"Dilwale Dulhania Le Jayenge","video":false,"vote_average":8.529,"vote_count":4436},{"adult":false,"backdrop_path":"/oOv2oUXcAaNXakRqUPxYq5lJURz.jpg","genre_ids":[18,28,80,53],"id":155,"original_language":"en","original_title":"The Dark Knight","overview":"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","popularity":156.416,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","release_date":"2008-07-16","title":"The Dark Knight","video":false,"vote_average":8.5,"vote_count":32843},{"adult":false,"backdrop_path":"/vxJ08SvwomfKbpboCWynC3uqUg4.jpg","genre_ids":[14,18,80],"id":497,"original_language":"en","original_title":"The Green Mile","overview":"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.","popularity":93.3,"poster_path":"/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg","release_date":"1999-12-10","title":"The Green Mile","video":false,"vote_average":8.507,"vote_count":17397},{"adult":false,"backdrop_path":"/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg","genre_ids":[35,53,18],"id":496243,"original_language":"ko","original_title":"기생충","overview":"All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.","popularity":139.42,"poster_path":"/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg","release_date":"2019-05-30","title":"Parasite","video":false,"vote_average":8.5,"vote_count":18242},{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp Fiction","overview":"A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.","popularity":114.597,"poster_path":"/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg","release_date":"1994-09-10","title":"Pulp Fiction","video":false,"vote_average":8.488,"vote_count":27874},{"adult":false,"backdrop_path":"/v9acaWVVFdZT5yAU7J2QjwfhXyD.jpg","genre_ids":[16,878,10751],"id":1184918,"original_language":"en","original_title":"The Wild Robot","overview":"After a shipwreck, an intelligent robot called Roz is stranded on an uninhabited island. To survive the harsh environment, Roz bonds with the island's animals and cares for an orphaned baby goose.","popularity":2376.552,"poster_path":"/wTnV3PCVW5O92JMrFvvrRcV39RU.jpg","release_date":"2024-09-12","title":"The Wild Robot","video":false,"vote_average":8.474,"vote_count":2820},{"adult":false,"backdrop_path":"/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg","genre_ids":[16,10749,18],"id":372058,"original_language":"ja","original_title":"君の名は。","overview":"High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.","popularity":115.529,"poster_path":"/vfJFJPepRKapMd5G2ro7klIRysq.jpg","release_date":"2016-08-26","title":"Your Name.","video":false,"vote_average":8.485,"vote_count":11357},{"adult":false,"backdrop_path":"/5JrZAtyk3LwiiAWLW0kwz41XZJC.jpg","genre_ids":[12,14,28],"id":122,"original_language":"en","original_title":"The Lord of the Rings: The Return of the King","overview":"As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.​","popularity":137.111,"poster_path":"/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","release_date":"2003-12-17","title":"The Lord of the Rings: The Return of the King","video":false,"vote_average":8.5,"vote_count":24170},{"adult":false,"backdrop_path":"/ghgfzbEV7kbpbi1O8eIILKVXEA8.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest Gump","overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","popularity":107.33,"poster_path":"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg","release_date":"1994-06-23","title":"Forrest Gump","video":false,"vote_average":8.471,"vote_count":27408},{"adult":false,"backdrop_path":"/Adrip2Jqzw56KeuV2nAxucKMNXA.jpg","genre_ids":[37],"id":429,"original_language":"it","original_title":"Il buono, il brutto, il cattivo","overview":"While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.","popularity":84.317,"poster_path":"/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg","release_date":"1966-12-22","title":"The Good, the Bad and the Ugly","video":false,"vote_average":8.463,"vote_count":8594},{"adult":false,"backdrop_path":"/sJNNMCc6B7KZIY3LH3JMYJJNH5j.jpg","genre_ids":[28,18],"id":346,"original_language":"ja","original_title":"七人の侍","overview":"A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.","popularity":50.806,"poster_path":"/iAq0sq42vKTLneVGqHn1D4GzgrM.jpg","release_date":"1954-04-26","title":"Seven Samurai","video":false,"vote_average":8.463,"vote_count":3664},{"adult":false,"backdrop_path":"/7TF4p86ZafnxFuNqWdhpHXFO244.jpg","genre_ids":[18,80],"id":769,"original_language":"en","original_title":"GoodFellas","overview":"The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.","popularity":87.97,"poster_path":"/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg","release_date":"1990-09-12","title":"GoodFellas","video":false,"vote_average":8.458,"vote_count":12841},{"adult":false,"backdrop_path":"/gwj4R8Uy1GwejKqfofREKI9Jh7L.jpg","genre_ids":[16,18,10752],"id":12477,"original_language":"ja","original_title":"火垂るの墓","overview":"In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.","popularity":0.051,"poster_path":"/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg","release_date":"1988-04-16","title":"Grave of the Fireflies","video":false,"vote_average":8.455,"vote_count":5547},{"adult":false,"backdrop_path":"/7lyq8hK0MhPHpUXdnqbFvZYSfkk.jpg","genre_ids":[18,10749],"id":11216,"original_language":"it","original_title":"Nuovo Cinema Paradiso","overview":"A filmmaker recalls his childhood, when he fell in love with the movies at his village's theater and formed a deep friendship with the theater's projectionist.","popularity":32.467,"poster_path":"/gCI2AeMV4IHSewhJkzsur5MEp6R.jpg","release_date":"1988-11-17","title":"Cinema Paradiso","video":false,"vote_average":8.451,"vote_count":4360}],"total_pages":487,"total_results":9728}

In [ ]:
# id
# title
# popularity
# overview
# release_date
# vote_average
# vote_count

# total_pages : 487
# total_results : 9728

# 9728 * 7

needed cols:

In [35]:
# response.json()

In [36]:
# response.json()['results']

In [23]:
import pandas as pd

In [25]:
df = pd.DataFrame(response.json()['results'])

In [26]:
df.head(5)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,191.914,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.707,27103
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",173.917,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.690,20584
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,83.433,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.600,12416
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,93.813,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.565,15827
4,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,79.807,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.546,8629

In [29]:
cols = ['id', 'title', 'popularity', 'overview', 'release_date', 'vote_average', 'vote_count']

In [30]:
df = df[cols]

In [31]:
df.head(5)

,id,title,popularity,overview,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,191.914,Imprisoned in the 1940s for the double murder ...,1994-09-23,8.707,27103
1,238,The Godfather,173.917,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,8.690,20584
2,240,The Godfather Part II,83.433,In the continuing saga of the Corleone crime f...,1974-12-20,8.600,12416
3,424,Schindler's List,93.813,The true story of how businessman Oskar Schind...,1993-12-15,8.565,15827
4,389,12 Angry Men,79.807,The defense and the prosecution have rested an...,1957-04-10,8.546,8629

In [32]:
df.shape

(20, 7)

In [33]:
df = pd.DataFrame()

In [34]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNjhjZDBjNjcyODYyNGFlYjFmZWZiMTRjNzIzODVjNCIsIm5iZiI6MTczMTgyMjg0My4xNjk3NzI5LCJzdWIiOiI2NDk3ZTU4YzZmNDNlYzAxMWM2MjY0NjQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.GVNLpPjm9wO-g5HoNF4e_L2Z6P7QRdCHNDuZy_pUKL0"
}

response = requests.get(url, headers=headers)

In [40]:
for i in range(1, 488):
    url = f"https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={i}"
    response = requests.get(url, headers=headers)
    temp_df = pd.DataFrame(response.json()['results'])[cols]
    df= pd.concat([df,temp_df], ignore_index=True)

In [41]:
df.sample(5)

,id,title,popularity,overview,release_date,vote_average,vote_count
1234,10110,Empire of the Sun,22.151,"Jamie Graham, a privileged English boy, is liv...",1987-12-09,7.516,1898
8957,10546,The Crow: City of Angels,20.850,A murder victim is brought back to life by a m...,1996-08-29,5.528,526
376,1578,Raging Bull,20.428,"The life of boxer Jake LaMotta, whose violence...",1980-11-14,7.929,4287
2617,11533,Jason and the Argonauts,23.453,"Jason, a fearless sailor and explorer, returns...",1963-06-19,7.158,597
8757,301372,Voice from the Stone,13.354,Verena is a nurse who arrives at an old mansio...,2017-04-28,5.639,462

In [42]:
df.shape

(9728, 7)

In [43]:
df.to_csv('movies.csv')